cat > serviceaccount.yaml << 'ENDOFFILE'
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vector
  namespace: observability
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam:: 026090559975:role/observability-cluster-vector-role
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vector
rules:
  - apiGroups: [""]
    resources: [namespaces, nodes, pods]
    verbs: [get, list, watch]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: vector
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vector
subjects:
  - kind: ServiceAccount
    name: vector
    namespace: observability
ENDOFFILE
